<div class="container">
	<div class="login-container">
		<h3 class="text-center mb-4">Login</h3>
		<form id="loginForm">
			<div id="generalError" class="error"></div>

			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
				<div class="error" id="emailError"></div>
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
				<div class="error" id="passwordError"></div>
			</div>

			<button type="submit" class="btn btn-primary w-100">Login</button>

			<div class="text-center mt-3">
				<a href="/register" class="text-decoration-none">Don't have an account?</a>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	document.getElementById('loginForm').addEventListener('submit', async function (e) {
		e.preventDefault();

		let email = document.getElementById('email').value;
		let password = document.getElementById('password').value;

		// remove/hide fields error if input value is correct!
		document.querySelectorAll('#loginForm input').forEach(input => {
	  		input.addEventListener('input', () => {
		    	const errorDiv = document.getElementById(`${input.name}Error`);
		    
			    if (errorDiv) {
		     		errorDiv.innerText = '';
			    }
		  	});
		});

		try {
			let res = await axios.post('/api/login', {
				email: email,
				password: password,
			});

			// Success
			let data = res?.data?.data;

			localStorage.setItem('authToken', data?.token);
			localStorage.setItem('userId', data?.user_id);

	  		document.cookie = `session_token=${data?.token}; path=/; max-age=${data?.expired_at}`;

			// Cookie set (expires in 1 hour)
			// document.cookie = `session_token=${data?.token}; path=/; max-age=3600`;

			window.location.href = '/profile';
		} catch (error) {
			let validationErrors = error.response?.data?.errors;
			let isSuccess = error.response?.data?.success;

			if (! isSuccess) {
				if (validationErrors?.email) {
		          document.getElementById('emailError').innerText = validationErrors.email;
		        }
		        if (validationErrors?.password) {
		          document.getElementById('passwordError').innerText = validationErrors.password;
		        }
		        if (validationErrors?.message) {
		        	document.getElementById('generalError').innerText = validationErrors.message
		        }
	        } else {
	        	document.getElementById('generalError').innerText = 'Something went wrong';
			}
		}
	});
</script>