<div class="container">
	<div class="login-container">
		<h3 class="text-center mb-4">Register</h3>
		<form id="registerForm">
			<div id="generalError" class="error"></div>

			<div class="mb-3">
				<label for="name" class="form-label">Name</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
				<div class="error" id="nameError"></div>
			</div>

			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
				<div class="error" id="emailError"></div>
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
				<div class="error" id="passwordError"></div>
			</div>

			<div class="d-flex justify-content-between">
				<button type="submit" class="btn btn-primary">Register</button>
				<a href="/" class="btn btn-secondary">Back to Login</a>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	document.getElementById('registerForm').addEventListener('submit', async function (e) {
		e.preventDefault();

		let name = document.getElementById('name').value;
		let email = document.getElementById('email').value;
		let password = document.getElementById('password').value;

		// remove/hide fields error if input value is correct!
		document.querySelectorAll('#registerForm input').forEach(input => {
	  		input.addEventListener('input', () => {
		    	const errorDiv = document.getElementById(`${input.name}Error`);
		    
			    if (errorDiv) {
		     		errorDiv.innerText = '';
			    }
		  	});
		});

		try {
			let res = await axios.post('/api/users', {
				name: name,
				email: email,
				password: password,
			});

			alert('Registration Success');

			// Clear input fields after success
			document.getElementById('registerForm').reset();

			// error reset
			document.getElementById('nameError').innerText = '';
			document.getElementById('emailError').innerText = '';
			document.getElementById('passwordError').innerText = '';
			document.getElementById('generalError').innerText = '';
		} catch (error) {
			let validationErrors = error.response?.data?.errors;
			let isSuccess = error.response?.data?.success;

			if (! isSuccess) {
				if (validationErrors?.name) {
		          document.getElementById('nameError').innerText = validationErrors.name;
		        }
		        if (validationErrors?.email) {
		          document.getElementById('emailError').innerText = validationErrors.email;
		        }
		        if (validationErrors?.password) {
		          document.getElementById('passwordError').innerText = validationErrors.password;
		        }
		        if (validationErrors?.message) {
		        	document.getElementById('generalError').innerText = validationErrors.message
		        }
	        } else {
	        	document.getElementById('generalError').innerText = 'Something went wrong';
			}
		}
	});
</script>