body {
	background: #f4f6f8 !important;
}
.login-container {
	max-width: 450px;
	margin: 60px auto;
	padding: 30px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.profile-container {
	max-width: 1000px;
	margin: 60px auto;
	padding: 30px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}